@import url(http://fonts.googleapis.com/css?family=Raleway);


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #efefef;
  background: url('../images/bg7.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  background-color: #9E6D2F;
}
/*
body.bg1 {
  background: url('../images/bg1.jpg');
}

body.bg2 {
  background: url('../images/bg2.jpg');
}

body.bg3 {
  background: url('../images/bg3.jpg');
}

body.bg4 {
  background: url('../images/bg4.jpg');
}

body.bg5 {
  background: url('../images/bg5.jpg');
}
*/
#header {
  width: auto;
  height: 200px;
}

.nav-btn {
  position: fixed;
  top: 1%;
  left: 1%;
  background-color: rgba(47,28,8,.7);
  transform: scale(.85);
}

.nav-btn span {
  font-size: 30px;
  padding: 1px;
  color: #9E6D2F;
}

#header h2 {
  color: #ffee99;
  font-family: monospace;
  font-size: 20px;
  position: relative;
  top: -120px;
}

#header h1 {
  color: #efefef;
  font-family: Raleway;
}

#header h4 {
  color: #9E6D2F;
  position: relative;
  top: -145px;
}

#nie-logo {
  transform: scale(.7);
  position: relative;
  left: 150px;
  top: -18px;
}

#technieks-logo {
  position: relative;
  top: -135px;
}

#header h4.theme {
  font-family: Raleway;
  color: #2F1C08;
  font-size: 25px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: white;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#CountdownTimer {
  transform: scale(1);
  position: relative;
  top: 20px;
}

.nav-menu {
  margin-top: -50px;
  text-align: center;
  font-size: auto;
  background-color: rgba(47,28,8,.7);
  padding-top: 100px;
}

.nav-menu a {
  color: #DBAE75;
  transition: .3s ease-out;
}

.nav-menu a:hover {
  transition: .3s ease-out;
  background-color: none;
}
.nav-menu > ul > li > a:hover {
  color: #efefef;
  transition: .3s ease-in-out;
  background-color: rgba(47,28,8,.7);
}

.tweet-of-day {
  background-color: rgba(47,28,8,.7);
  transition: .3s ease-out;
  color: #DBAE75;
  font-family: Raleway;
  cursor: default;
}

.tweet-of-day:hover {
  color: #ffffff;
  transition: .3s ease-in;
}

#about {
  background-color: rgba(47,28,8,.45);
}

#about .container h2, #about .container h3 {
  font-family: Raleway;
  color: #ffee99;
}

h5 {
  font-family: Raleway;
}

#about .container h4 {
  font-family: Raleway;
  font-size: 24px;
  line-height: 30px;
}

#about .container h4 b {
  font-size: 26px;
}

.sc {
  height: 200px;
  width: 200px;
}

.gs {
  height: 150px;
  width: 150px;
}

.core {
  height: 125px;
  width: 125px;
  padding: 2px;
  margin-bottom: -10px;
}

.comittee h4 {
  margin-bottom: -10px;
}
.comittee {
  margin-bottom: 10px;
}

#gallery {
  background-color: rgba(47,28,8,.45);
}
.popup-gallery {
  padding: 10%;
}

/* Countdown timer css * /
/**
 *	This element is created inside your target element
 *	It is used so that your own element will not need to be altered
 **/
.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}

/**
 *	This is all the elements used to house all text used
 * in time circles
 **/
.time_circles > div {
    position: absolute;
    text-align: center;
}

/**
 *	Titles (Days, Hours, etc)
 **/
.time_circles > div > h4 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: Raleway, Helvetica;
    color: #2F1C08;
}

/**
 *	Time numbers, ie: 12
 **/
.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: Raleway, Helvetica;
    color: #693F12;
    font-size: 300%;
    margin-top: 0.4em;
    font-weight: bold;
}

/* instagram badge */
.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; }
}
/* instagram badge end */

@media screen and (max-width: 600px) {
  .body {
    background-attachment: fixed;
  }
  #nie-logo {
    transform: scale(.35);
    position: relative;
    top: -15px;
    left: 20px;
  }
  .nav-btn {
    top: 2%;
    left: 0px;
    transform: scale(.7);
  }
  #CountdownTimer {
    visibility: block;
    transform: scale(1.0);
    width: 100%;
    position: relative;
    color: #ffee99;
  }
  #header h2 {
    font-size: 12px;
  }
  #header h1 {
    left: 100px;
  }
  .row {
    position: relative;
  }
}
